* {
    border: solid 1px red;
}

body {
    text-align: center;
}

.container {
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
}

.controls {
    align-self: center;
    box-sizing: inherit;
    padding: 0 4%;
    width: 33%;
}

.app {
    align-self: center;
    box-sizing: inherit;
    width: 506px;
}

.failed {
    align-self: center;
    box-sizing: inherit;
    width: 20%;
}

.failure-count {
    color: #5fc148;
    font-size: 2em;

}

.sl-number {
    color: #8bd46a;
    font-size: 1.5em;
    margin-bottom: 8px;
    width: 100%;
}

.sl-input {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 2px;
    background: #8bd46a;
    outline: none;
    margin: 0 0 15px;

}

.sl-input-inactive {
    opacity: 0.5;
}

.sl-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
}

.sl-input-inactive::-webkit-slider-thumb {
    cursor: not-allowed;
}

.sl-input::-moz-range-thumb {
    cursor: pointer;
}

.sl-input-inactive::-moz-range-thumb {
    cursor: not-allowed;
}

.sl-input-bug::-webkit-slider-thumb {
    background: url("../images/enemy-bug-thumb50.png") no-repeat;
    width: 50px;
    height: 50px;
}

.sl-input-bug::-moz-range-thumb {
    width: 50px;
    height: 50px;
    background: url("../images/enemy-bug-thumb50.png") no-repeat;
}

.sl-input-gem::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    background: url("../images/Gem Orange Thumb40.png") no-repeat;
}

.sl-input-gem::-moz-range-thumb {
    width: 40px;
    height: 40px;
    background: url("../images/Gem Orange Thumb40.png") no-repeat;
}

.button {
    background-color: #5fc148;
    border: none;
    color: white;
    font-family: 'Lobster', cursive;
    border-radius: 5px;
    font-size: 2em;
    margin-top: 60px;
    padding: 0;
    height: 80px;
    width: 49%;
}

.button-inactive {
    color: #5fc148;
    cursor: not-allowed;
    background-color: white;
    border: solid 2px #5fc148;
    opacity: 0.5;
}

@media screen and (max-width: 848px) {
    .container {
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    .controls {
        order: 1;
        -webkit-order: 1;
        width: 506px;
    }

    .button {
        margin-top: 10px;
    }

    .sl-number {
        margin-top: 10px;
    }

    .failed {
        order: 2;
        -webkit-order: 2;
        width: 100%;
    }

    .failure-count {
        margin-bottom: 0;
        margin-top: 50px;
    }

    .app {
        order: 3;
        -webkit-order: 3;
    }
}